[
  {rabbit,
    [
      { tcp_listeners, [ ] },
      { ssl_listeners, [ 5671 ] },
      { ssl_options, [
        { certfile, "/ssl/server/cert.pem" },
        { keyfile, "/ssl/server/key.pem" },
        { cacertfile, "/ssl/ca/cacert.pem" },
        { verify, verify_peer },
        { fail_if_no_peer_cert, true } ] },
      { default_pass, <<"password">> },
      { default_user, <<"pmdcosta">> },
      { loopback_users, [ ] },
      { auth_mechanisms, ['EXTERNAL'] },
      { ssl_cert_login_from, common_name }
    ]
  },
  { rabbitmq_management, [
      { listener, [
    { port, 15672 },
        { ssl, false }
        ]
      }
    ]
  },
  { rabbitmq_mqtt, [
      { allow_anonymous, false },
      { subscription_ttl, 1800000 },
      { tcp_listeners, [ ] },
      { ssl_listeners, [8883] },
      { ssl_cert_login, true }
    ]
  }
].